#root {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --dropzone-bg: light-dark(#f4f4f5, #27272a);
  --dropzone-border: light-dark(#d4d4d8, #52525b);
  --dropzone-hover-bg: light-dark(#e4e4e7, #323235);
  --dropzone-border-hover: light-dark(var(--primary), var(--primary));
}
